@import url("https://fonts.googleapis.com/css2?family=Estonia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Estonia&family=Press+Start+2P&display=swap");
body {
  background-color: #333142;
}

.g {
  background-color: #f3f0e8;
  margin-right: 20vw;

  margin-left: 20vw;
  height: 100vh;
}
.mitten {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
}
.mitten2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.n {
  margin-top: 1vh;
  background-color: #757b8a;
}
.knapp1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  background-color: #f3d45f;
}
.x {
  padding: 2vw;
}
.gfg {
  display: flex;
  flex-wrap: wrap;
}
.hjr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  user-select: none;
  align-items: center;
}
.hjö {
  display: flex;
  user-select: none;
  align-self: center;
}
.btext {
  font-size: 1.17em;
  font-family: Estonia;
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  text-align: start;
  flex-flow: nowrap;
  align-content: flex-start;
}
.hmp {
  font-size: 1.17em;
  font-family: Estonia;
  display: flex;
}
.samman {
  display: flex;
  justify-content: start;
  align-content: flex-start;
}
.ggg {
  font-family: "Press Start 2p";
}
